.env
*.pyc
__pycache__/
local_settings.py
*.log
/venv/
/.idea/
/.vscode/
.DS_Store
*.swp
*~
new_venv
*.log*
google_credentials.json
gcp_bucket_credentials.json
gemini_credentials.json
app-dev-core-gcp-serviceaccount.json
google_auth.json
google_speech_credentials.json
/new_venv/
logs
json_creds
windsurf
media
static_schemas


insights/static/insights/node_modules/
.windsurfrules

env/

